*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/BACKGROUND.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  padding: 0 1rem;
  min-height: 100vh;
  width: 100%;
  /* overflow: hidden; */
  position: relative;
}
.form-login {
  background-image: url("../img/FORM\ LOGIN.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 400px;
  padding: 5.5rem 4rem;
  margin: 2rem auto;
  z-index: 99;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user {
  font-weight: bold;
}
.stone {
  position: absolute;
  width: 230px;
  background-image: url("../img/STONE\ 02.svg");
  height: 200px;
}

.player_landing {
  background-image: url("../img/LANDING.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 200px;
  height: 150px;
  position: absolute;
  z-index: 9999;
  bottom: 0;
}
.player_jump {
  background-image: url("../img/JUMP.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 200px;
  height: 150px;
  position: absolute;
  z-index: 9999;
  bottom: 0;
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.life {
  display: flex;
  font-size: 3rem;
  color: rgb(189, 252, 231);
  text-transform: uppercase;
}

.score {
  display: flex;
  font-size: 3rem;
  color: rgb(189, 252, 231);
  text-transform: uppercase;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  background-image: url("../img/left.png");
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  transform: rotate(180deg);
  background-size: contain;
}
.left {
  background-image: url("../img/left.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
}
