*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body {
  background-image: url("../img/BACKGROUND.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  min-height: 100vh;
}
.stone {
  display: flex;
  position: absolute;
  width: 250px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.player {
  background-image: url("../img/LANDING.svg");
  width: 200px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  position: absolute;
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.life {
  display: flex;
  font-size: 3rem;
  color: rgb(189, 252, 231);
  text-transform: uppercase;
}

.score {
  display: flex;
  font-size: 3rem;
  color: rgb(189, 252, 231);
  text-transform: uppercase;
}
