*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  overflow: hidden;
}
body {
  background-image: url("../img/BACKGROUND.svg");
  background-repeat: no-repeat;
  background-position: 0 -150px;
  background-size: cover;
}

.container {
  position: relative;
  height: 100vh;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player1 {
  display: flex;
}

#form-login {
  background-image: url("../img/FORM\ LOGIN.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  padding: 5.5rem 4rem;
  margin: 8rem auto;
  z-index: 99;
}

/* Login Page */

.log-in {
  z-index: 999;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: bold;
}

.username {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pass {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#log-username {
  border: 2px solid rgb(246, 251, 253);
  padding: 7px;
  background: none;
  margin-top: 5px;
  transition: 0.25s;
  color: aliceblue;
}

#log-password {
  border: 2px solid rgb(246, 251, 253);
  padding: 7px;
  background: none;
  margin-top: 5px;
  transition: 0.25s;
  color: aliceblue;
}

#submit {
  background: none;
  border-radius: 50%;
  color: aliceblue;
  padding: 10px;
  margin: 30px auto;
  display: flex;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.25s;
}

@media only screen and (max-width: 640px) {
  body {
    /* overflow: hidden; */
    background-position: center;
  }
}
