*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html {
  width: 100%;
  overflow: hidden;
  height: 100vh;
} */
body {
  background-image: url("../img/BACKGROUND.svg");
  background-repeat: no-repeat;
  background-position: 0 -150px;
  background-size: cover;
}
input,
button,
submit {
  border: none;
}

.container {
  min-height: 100vh;
}

.hero {
  display: flex;
  z-index: 100;
  height: 100%;
  justify-items: center;
  align-items: center;
}

/* .player {
  position: absolute;
} */

.player1 {
  display: inline;
  background-image: url("../img/STONE\ 01.svg");
}
.player2 {
  display: inline;
  background-image: url("../img/STONE\ 02.svg");
}
.player3 {
  display: inline;
  background-image: url("../img/STONE\ 03.svg");
}

.form-login {
  background-image: url("../img/FORM\ LOGIN.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  padding: 5.5rem 4rem;
  margin: 8rem auto;
  z-index: 99;
}

/* Login Page */

.log-in {
  z-index: 999;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: bold;
}

.username {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pass {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#log-username {
  border: 2px solid rgb(246, 251, 253);
  padding: 7px;
  background: none;
  margin-top: 5px;
  transition: 0.25s;
  color: aliceblue;
}

#log-password {
  border: 2px solid rgb(246, 251, 253);
  padding: 7px;
  background: none;
  margin-top: 5px;
  transition: 0.25s;
  color: aliceblue;
}

#submit {
  background: url("../img/BUTTON\ LOGIN.svg");
  background-repeat: no-repeat;
  background-size: contain;
  color: aliceblue;
  margin: 30px auto;
  height: 75px;
  cursor: pointer;
  display: flex;
  width: 75px;
  transition: 0.25s;
}

/* @media only screen and (max-width: 640px) {
  body {
    overflow: hidden;
    background-position: center;
  }
} */
